<!-- <div class="text">
<h1>Parent Component</h1>


Parent Component: <input type="text" #Pcomponent (keyup)="0">

<app-student [Pdata]="Pcomponent.value" ></app-student><br>

<button (click)="togglebtn()">Toggle</button>


<h3>Interpulation</h3>
<button disabled = {{Currentvalue}} >Click me</button>

<h3>Property Binding</h3>
<button [disabled]="Currentvalue" >Click ME</button>
</div>
<div class="text">
    Enter your Message:
    <input type="text" #texrmsg (keyup)="amessage(texrmsg.value)">
    <br>
    Your Message: {{massage}}
 <br>
 Enter your Message:
 <input type="text" [(ngModel)]="massage">
 <br>
 Your Message: {{massage}}

 <table border="1">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee's Country</th>
    </tr>
    @for (emp of employee; track $index ) {
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.Cuntry}}</td>
        </tr>
}

</table>


{{12.54543232 | number}} <br>
 {{12.54543232 | number:'1.2-4' }} <br>
{{12.54543232 | percent}} <br>
{{curr| currency}} <br>
{{curr| currency :'PKR' }} <br>
{{curr| currency :'INR' }} <br>
{{curr| currency :'GBP':true:'2.3-5' }} <br>


<h3>{{CurrentDate}}</h3>  <br>
<h3>{{CurrentDate | date}}</h3>  <br>
<h3>{{CurrentDate | date : 'shortDate'}}</h3>  <br>
<h3>{{CurrentDate | date : 'longDate'}}</h3>  <br>
<h3>{{CurrentDate | date : 'fullDate'}}</h3>  <br>
<h3>{{CurrentDate | date : 'yyyy/mm/dd': 'Time' }}</h3>  <br>
<h3>{{name | welcome}}</h3>  <br>



<br>

<button (click)="setmassage()" >Click ME</button>
<br>
Your massage :{{msg!}}



</div> -->
<h1>This is app Component</h1>
<app-comp1></app-comp1>
<app-comp2></app-comp2>